# Virtual environments
.venv
.ephys
.idea
.ipynb_checkpoints/

# Byte-compiled, chache directories
intan_utilities/__pycache__
__pycache__/
*.py[cod]
*$py.class

# models made with keras or pytorch
*.keras

# New data files
*.csv
*.txt

# Images
gesture_classifier/*.png
*.png

# PyTorch models
gesture_classifier/*.pth
*.pth
*.npz
*.npy

# Temporary files used for debugging
/temp/
temp/*

# Distribution / packaging
.Python
env/
venv/
ENV/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/build/
docs/build/*

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*.log

# Old utilities
src/old_utils/

# Local secrets & environment variables
.env
.secrets
.tokens
.pypirc_local

# Versioned build directories and artifacts
python_oephys-*
python_open_ephys-*
*.npz
*.npy
*.log
